$telus-purple: #4b286d;
$telus-green: #2b8000;
$telus-grey: #e3e6e8;
$telus-grey-light : #fafafa;
$telus-green-dark: #1f5c09;
$telus-white: #ffffff;


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;