@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.streaming-details {
  width: 100%;
  max-width: 1200px; // Adjust as needed
  margin: 0 auto;
  padding: 2rem;
  //   background-color: white;
  border-radius: 12px;
  //   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

  &__bundle-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  &__site-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__img-container {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  &__button-space {
    display: flex;
    justify-content: flex-start;
  }

  &__value-button {
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    border: 2px solid $telus-grey;
    color: $telus-green;
    background-color: $telus-white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $telus-green;
      color: $telus-white;
    }
  }
}

@media (max-width: 768px) {
  .streaming-details {
    padding: 1.5rem;

    &__bundle-details {
      flex-direction: column;
    }

    &__site-details {
      width: 100%;
    }
  }
}
